<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h2>Create a new Listing :</h2>
    <form method="POST"action="/listings">
        <input type="text"name="listing[title]"placeholder="Enter your title."><br><br>
        <textarea rows=6 cols=20 type="text"name="listing[description]"placeholder="Enter your Description."></textarea><br>

        <input type="text"name="listing[image]"placeholder="Enter your image url."><br><br>
        <input type="number"name="listing[price]"placeholder="Enter your price."><br><br>
        <input type="text"name="listing[location]"placeholder="Enter your location."><br><br>
        <input type="text"name="listing[country]"placeholder="Enter your country."><br><br>
        <button>Submit</button>
    </form>
</body>
</html>