<%layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h2>Create a new Listing :</h2>
    <form method="POST"action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title :</label>
            <input class="form-control"type="text"name="listing[title]"placeholder="Enter your title." required>
            <div class="valid-feedback">
                Looks good
            </div>
            
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description :</label>
            <textarea  required name="listing[description]"class="form-control" placeholder="Add a short description."></textarea>
            <div class="invalid-feedback">
                Please add a short/long description.
            </div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image :</label>
            <input type="file"name="listing[image]" class="form-control">
            required
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Price :</label>
            <input name="listing[price]" class="form-control" placeholder="Enter a valid price." required>
            <div class="invalid-feedback">
                Please enter a valid price.
            </div>
        </div>
        <div class="row">
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country :</label> 
                <input required type="text"name="listing[country]" class="form-control"placeholder="Enter your country.">
                <div class="invalid-feedback">
                    Country is required.
                </div>
            </div>
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Location :</label>
                <input required type="text"placeholder="Dhaka, Bangladesh"name="listing[location]" class="form-control"placeholder="Enter your location.">
                <div class="invalid-feedback">
                    Please enter a valid Place.
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-dark">Add</button>
        <br><br>
    </form>
</div>
</div>
